<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	
	<body>
		<form action="/admin/reg/location" method ="post">
		
		<p>Insert new location here!!</p>
			<input type ="hidden" name ="adminid" th:value="${admindto.getUserid()"/>
			<input type ="text" name ="locname" placeholder ="LOCATION NAME"/>
			<input type ="text" name ="address" placeholder ="ADDRESS"/>
			<input type ="number" name ="fee"  placeholder="RENTAL FEE"/>
			<input type ="submit"/>
		</form>
	
	
	</body>
</html>