<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	
	<body>

		<form action="/logout" method="post">
			<input type="hidden" name="userid" th:value="userdto.getId()"/>	
			<input type="submit" placeholder="logout"/>
		
		</form>
		
		<br/>
		
		<p> You can find here all matches for the choosen Location</p>
		
		<form th:if = "${gamedtolist} != null " action="/game/search/location" method="get">
			<input type="hidden" name="userid" th:value="userdto.getId()"/>
			<select name ="location" >
			
				<option th:each = "locationDto  : ${gamedtolist.getAllLocations()}" th:text = "${locationDto.getName()}"
					th:value ="${locationDto.getName()}"/>
				
			</select>
			<input type = "submit"/>
		</form>
		
		<br/>
		
		<p> Choose a Player! </p>
		
		<form th:if = "${gamedtolist} != null " action="/game/search/player " method="get">
			<input type="hidden" name="userid" th:value="userdto.getId()"/>
			<select name ="searchedplayer" >
			
				<option th:each = "userDto  : ${gamedtolist.getAllPlayers()}" th:text = "${userDto.getName()}"
					th:value ="${userDto.getName()}"/>
				
			</select>
			<input type = "submit"/>
		</form>
		
	
	</body>
</html>